<div class="sidebar">
  <h2>Sistema Contable</h2>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
    <a routerLink="/roles" routerLinkActive="active">Roles</a>
    <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/proveedores" routerLinkActive="active">Proveedores</a>
    <a routerLink="/cuentas-contables" routerLinkActive="active">Cuentas Contables</a>
    <a routerLink="/asientos-contables" routerLinkActive="active">Asientos Contables</a>
    <a routerLink="/lineas-asiento" routerLinkActive="active">Líneas Asiento</a>
    <a routerLink="/tipo-movimiento" routerLinkActive="active">Tipo Movimiento</a>
    <a routerLink="/transacciones" routerLinkActive="active">Transacciones</a>
    <a routerLink="/estados" routerLinkActive="active">Estados</a>
    <a routerLink="/facturas" routerLinkActive="active">Facturas</a>
    <a routerLink="/detalles-factura" routerLinkActive="active">Detalles Factura</a>
  </nav>
</div>
